[submodule "site-lisp/full-ack"]
	path = site-lisp/full-ack
	url = https://github.com/nschum/full-ack.git
[submodule "site-lisp/tt-mode"]
	path = site-lisp/tt-mode
	url = https://github.com/davorg/tt-mode.git
[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = https://github.com/philjackson/magit.git
[submodule "site-lisp/fill-column-indicator"]
	path = site-lisp/fill-column-indicator
	url = https://github.com/alpaker/Fill-Column-Indicator.git
[submodule "site-lisp/identica-mode"]
	path = site-lisp/identica-mode
	url = http://git.savannah.gnu.org/cgit/identica-mode.git
[submodule "site-lisp/jabber"]
	path = site-lisp/jabber
	url = git://emacs-jabber.git.sourceforge.net/gitroot/emacs-jabber/emacs-jabber
[submodule "site-lisp/twittering-mode"]
	path = site-lisp/twittering-mode
	url = https://github.com/hayamiz/twittering-mode.git
[submodule "site-lisp/orgmode"]
	path = site-lisp/orgmode
	url = git://orgmode.org/org-mode.git
