[submodule "site-lisp/full-ack"]
	path = site-lisp/full-ack
	url = https://github.com/nschum/full-ack.git
[submodule "site-lisp/tt-mode"]
	path = site-lisp/tt-mode
	url = https://github.com/davorg/tt-mode.git
[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = https://github.com/philjackson/magit.git
[submodule "site-lisp/fill-column-indicator"]
	path = site-lisp/fill-column-indicator
	url = https://github.com/alpaker/Fill-Column-Indicator.git
[submodule "site-lisp/orgmode"]
	path = site-lisp/orgmode
	url = git://orgmode.org/org-mode.git
[submodule "site-lisp/yaml"]
	path = site-lisp/yaml
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "site-lisp/pod-mode"]
	path = site-lisp/pod-mode
	url = https://github.com/renormalist/emacs-pod-mode.git
[submodule "site-lisp/pod-cperl-mode"]
	path = site-lisp/pod-cperl-mode
	url = https://github.com/renormalist/emacs-pod-cperl-mode.git
[submodule "site-lisp/org2blog"]
	path = site-lisp/org2blog
	url = https://github.com/punchagan/org2blog.git
